TP3/User/Service References/RegisterService/RegisterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ISEL.ADEETC.SD" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ISEL.ADEETC.SD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ISEL.ADEETC.SD/Imports">
      <xsd:import schemaLocation="http://localhost:8676/RegisterService?xsd=xsd0" namespace="http://ISEL.ADEETC.SD" />
      <xsd:import schemaLocation="http://localhost:8676/RegisterService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8676/RegisterService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Interfaces" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegister_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IRegister_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IRegister_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IRegister_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IRegister_isMessageValid_InputMessage">
    <wsdl:part name="parameters" element="tns:isMessageValid" />
  </wsdl:message>
  <wsdl:message name="IRegister_isMessageValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:isMessageValidResponse" />
  </wsdl:message>
  <wsdl:message name="IRegister_registerMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:registerMessage" />
  </wsdl:message>
  <wsdl:message name="IRegister_registerMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IRegister_NotifySubscribe_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifySubscribe" />
  </wsdl:message>
  <wsdl:message name="IRegister_NotifySubscribe_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifySubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IRegister_NotifyUnsubscribe_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUnsubscribe" />
  </wsdl:message>
  <wsdl:message name="IRegister_NotifyUnsubscribe_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUnsubscribeResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegister">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://ISEL.ADEETC.SD/IRegister/Subscribe" message="tns:IRegister_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://ISEL.ADEETC.SD/IRegister/SubscribeResponse" message="tns:IRegister_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://ISEL.ADEETC.SD/IRegister/Unsubscribe" message="tns:IRegister_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://ISEL.ADEETC.SD/IRegister/UnsubscribeResponse" message="tns:IRegister_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isMessageValid">
      <wsdl:input wsaw:Action="http://ISEL.ADEETC.SD/IRegister/isMessageValid" message="tns:IRegister_isMessageValid_InputMessage" />
      <wsdl:output wsaw:Action="http://ISEL.ADEETC.SD/IRegister/isMessageValidResponse" message="tns:IRegister_isMessageValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerMessage">
      <wsdl:input wsaw:Action="http://ISEL.ADEETC.SD/IRegister/registerMessage" message="tns:IRegister_registerMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://ISEL.ADEETC.SD/IRegister/registerMessageResponse" message="tns:IRegister_registerMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifySubscribe">
      <wsdl:output wsaw:Action="http://ISEL.ADEETC.SD/IRegister/NotifySubscribe" message="tns:IRegister_NotifySubscribe_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://ISEL.ADEETC.SD/IRegister/NotifySubscribeResponse" message="tns:IRegister_NotifySubscribe_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyUnsubscribe">
      <wsdl:output wsaw:Action="http://ISEL.ADEETC.SD/IRegister/NotifyUnsubscribe" message="tns:IRegister_NotifyUnsubscribe_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://ISEL.ADEETC.SD/IRegister/NotifyUnsubscribeResponse" message="tns:IRegister_NotifyUnsubscribe_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>