TP3/User/Service References/RegisterService/RegisterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChatUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Binding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatUser" nillable="true" type="tns:ChatUser" />
  <xs:complexType name="ArrayOfChatUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatUser" nillable="true" type="tns:ChatUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatUser" nillable="true" type="tns:ArrayOfChatUser" />
</xs:schema>