TP3/TP3/Connected Services/RegisterService/RegisterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ISEL.ADEETC.SD" elementFormDefault="qualified" targetNamespace="http://ISEL.ADEETC.SD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8676/RegisterService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Interfaces" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Interfaces" minOccurs="0" name="user" nillable="true" type="q1:ChatUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Interfaces" minOccurs="0" name="SubscribeResult" nillable="true" type="q2:ArrayOfChatUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Interfaces" minOccurs="0" name="user" nillable="true" type="q3:ChatUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifySubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Interfaces" minOccurs="0" name="info" nillable="true" type="q4:ChatUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifySubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUnsubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Interfaces" minOccurs="0" name="info" nillable="true" type="q5:ChatUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUnsubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>